@model GadgetStore.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Delete " + Model.ProductName;
}

<h1>@ViewBag.Title</h1>

<h3 class="text-center">This will permanently delete the record and cannot be undone.</h3>
<div>

    <div class="row mb-3 p-5 border rounded shadow">
        <div class="col-md-6 text-center offset-md-3">
            <img src="~/images/@Model.ProductImage" alt="@Model.ProductName" class="img-fluid" />
            <p class="text-info mt-3">
                @Html.DisplayFor(model => model.ProductDescription)
            </p>
        </div>

        <div class="col-md-3 offset-md-3">
            <p>
                <strong>
                    @Html.DisplayNameFor(model => model.ProductPrice):
                </strong>
                @Html.DisplayFor(model => model.ProductPrice)
            </p>
            <p>
                <strong>
                    @Html.DisplayNameFor(model => model.UnitsInStock):
                </strong>
                @Html.DisplayFor(model => model.UnitsInStock)
            </p>
            <p>
                <strong>
                    @Html.DisplayNameFor(model => model.UnitsOnOrder):
                </strong>
                @Html.DisplayFor(model => model.UnitsOnOrder)
            </p>
        </div>
        <div class="col-md-5">
            <p>
                <strong>
                    @Html.DisplayNameFor(model => model.IsDiscontinued):
                </strong>
                @(Model.IsDiscontinued ? "Yes" : "No")
            </p>
            <p>
                <strong>
                    @Html.DisplayNameFor(model => model.Category.CategoryName):
                </strong>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </p>
            <p>
                <strong>
                    @Html.DisplayNameFor(model => model.Supplier.SupplierName):
                </strong>
                @Html.DisplayFor(model => model.Supplier.SupplierName)
            </p>
        </div>
        <div class="col-md-6 mx-auto">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductId" />
                <button type="submit" class="btn btn-danger mb-1 w-100 d-inline-block">Delete</button>
                <a asp-action="Index" class="btn btn-outline-secondary w-100 d-inline-block">Back to Gadgets</a>
            </form>
        </div>
    </div>

</div>
@*
    Index:
    Update the title and <h1>
    Comment out the Details link and make the name clickable.
    Update text on the Create button
    ** remove any unnecessary columns

    Edit/Details/Create/Delete:
    Update Title and <h1>
    Remove <h4> and <hr>
    Update "Back to List" text.
*@