@model GadgetStore.DATA.EF.Models.Product

@{
    ViewData["Title"] = Model.ProductName;
}

@* <h1>@ViewBag.Title</h1> *@

<section class="product_section layout_padding gray-section py-4">
    <div class="heading_container heading_center">
        <h2>@Model.ProductName <span>Details</span></h2>
    </div>
</section>

<div class="row mb-3 p-5 border rounded shadow">
    <div class="col-md-6 text-center offset-md-3">
        <img src="~/images/@Model.ProductImage" alt="@Model.ProductName" class="img-fluid" />
        <p class="text-info mt-3">
            @Html.DisplayFor(model => model.ProductDescription)
        </p>
    </div>

    <div class="col-md-3 offset-md-3">
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.ProductPrice):
            </strong>
            @Html.DisplayFor(model => model.ProductPrice)
        </p>
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.UnitsInStock):
            </strong>
            @Html.DisplayFor(model => model.UnitsInStock)
        </p>
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.UnitsOnOrder):
            </strong>
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </p>
    </div>
    <div class="col-md-5">
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.IsDiscontinued):
            </strong>
            @(Model.IsDiscontinued ? "Yes" : "No")
        </p>
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.Category.CategoryName):
            </strong>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </p>
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName):
            </strong>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </p>
    </div>
    <div class="col-md-6 mx-auto">
        <a asp-action="Index" class="btn btn-primary w-100 d-inline-block">Back to Gadgets</a>
    </div>
</div>