@model IEnumerable<GadgetStore.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Tiled Gadgets";
}

<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Shop <span>Gadgets</span>
            </h2>
            @if (User.IsInRole("Admin"))
            {
                <span>
                    <a asp-action="Create">Add New Gadget</a> |
                </span>
            }
            <a asp-action="Index">Table View</a>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
                    <!-- Added h-100 and mb-4 (above) to make all tiles the same size. -->
                    <div class="box h-100">
                        <div class="option_container">
                            <div class="options">
                                <a asp-action="Details" asp-route-id="@item.ProductId" class="option1">
                                    @item.ProductName
                                </a>
                                <a href="javascript:void(0)" class="option2">
                                    Add To Cart
                                </a>
                            </div>
                        </div>
                        <div class="img-box">
                            <img src="~/images/@item.ProductImage" alt="@item.ProductName">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.ProductName
                            </h5>
                            <h6>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>





@{
    #region Original Page
    // <h1>TiledProducts</h1>

    // <p>
    //     <a asp-action="Create">Create New</a>
    // </p>
    // <table class="table">
    //     <thead>
    //         <tr>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.ProductName)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.ProductPrice)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.ProductDescription)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.UnitsInStock)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.UnitsOnOrder)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.IsDiscontinued)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.ProductImage)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.Category)
    //             </th>
    //             <th>
    //                 @Html.DisplayNameFor(model => model.Supplier)
    //             </th>
    //             <th></th>
    //         </tr>
    //     </thead>
    //     <tbody>
    // @foreach (var item in Model) {
    //         <tr>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.ProductName)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.ProductPrice)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.ProductDescription)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.UnitsInStock)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.UnitsOnOrder)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.IsDiscontinued)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.ProductImage)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.Category.CategoryName)
    //             </td>
    //             <td>
    //                 @Html.DisplayFor(modelItem => item.Supplier.Address)
    //             </td>
    //             <td>
    //                 <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
    //                 <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
    //                 <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
    //             </td>
    //         </tr>
    // }
    //     </tbody>
    // </table>
    #endregion
}
